@model  IEnumerable<CarShop.Model.About>
@{
    ViewBag.Title = "About";
}

<link rel="stylesheet" type="text/css" href="~/styles/contact.css">
<link rel="stylesheet" type="text/css" href="~/styles/contact_responsive.css">


<!-- Home -->

<div class="home">
    <div class="home_container">
        <div class="home_background" style="background-image:url(@(ViewBag.AssetsUrl)@Model.FirstOrDefault().AboutPagePhoto)"></div>
        <div class="home_content_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content">
                            <div class="breadcrumbs">
                                <ul>                                   
                                    <li><a href="@Url.Action("Index","Home")"><font size="5">Anasayfa</font></a><font size="5">/Hakkımızda</font></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 contact_col">
                <div class="get_in_touch">

                    <div class="section_title">
                        @Model.FirstOrDefault().AboutPageHeader

                    </div>

                    <div class="section_subtitle">


                        @Html.Raw(Model.FirstOrDefault().AboutPageDescription)
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>






