@{
    ViewBag.Title = "About";
}

<!-- Home -->

<div class="home">
    <div class="home_container">
        <div class="home_background" style="background-image:url(/images/contact.jpg)"></div>
        <div class="home_content_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content">
                            <div class="breadcrumbs">
                                <ul>
                                    <li><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
                                    <li>Hakkımızda</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 contact_col">
                <div class="get_in_touch">
                    <div class="section_title">Hakkımızda</div>
                    @*<div class="section_subtitle">Mercedes-Benz Türk A.Ş.</div>*@
                    <div class="section_subtitle">


                        1967 yılında Daimler-Benz AG’nin % 36 ortaklığı ile Otomarsan unvanıyla İstanbul'da kurulan Mercedes-Benz Türk, 0 302 tipi otobüslerin üretimine, 1968 yılında başlamıştır. Üretime başladıktan sadece 2 yıl sonra, 1970’te ihracata başlayan şirket, 1984 yılında Mercedes-Benz Türkiye Genel Mümessili olmuştur.<br /><br />

                        1986 yılında ise Türkiye'nin büyüme potansiyeline paralel olarak İç Anadolu ili Aksaray’da kamyon fabrikası üretime geçmiştir. Kasım 1990'da şirketin ticari unvanı Mercedes-Benz Türk A.Ş. olarak değişmiştir. Daimler AG’nin Mercedes-Benz Türk sermayesindeki payı % 67’dir.<br /><br />

                        1 milyar Euro’yu aşan yatırım hacmiyle Mercedes-Benz Türk bugün Türkiye’nin en büyük yabancı sermaye yatırımlarından biridir ve 6.300’den fazla personel istihdam etmektedir. Bunun yanı sıra ülke çapındaki bayi ve satış sonrası hizmetler ağında yaklaşık 5.000 kişi çalışmaktadır.<br /><br />

                        Günümüzde İstanbul’da Hoşdere Fabrikası’nda şehirlerarası ve belediye tipi otobüsler, Aksaray Fabrikası’nda ise hafif, orta ağır ve ağır sınıf kamyonlar ve çekiciler üreten Mercedes-Benz Türk’ün bu tesisleri Daimler AG’nin geliştirme ve üretim ağının önemli parçalarını oluşturmaktadır.<br /><br />

                        Şirket, sadece Türkiye’de üretilen modelleri de kapsayan ürünlerinin yurtiçi satışlarını ve ihracatını da yapmaktadır. Ayrıca Mercedes-Benz marka hafif ticari araç ve Daimler AG çatısı altındaki tüm otomobil markalarının ithalatını ve satış faaliyetlerini yürütmektedir.<br /><br />

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>






