
@{
    ViewBag.Title = "CompleteShop";

}
@model  IEnumerable<CarShop.Model.MainPage>
@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/styles/contact.css">
<link rel="stylesheet" type="text/css" href="~/styles/contact_responsive.css">

<!-- Home -->
<head>
    <style>

        h1,h2 {
            color: black;
        }
    </style>
</head>

<div class="home">
    <div class="home_container">
        <div class="home_background" style="background-image:url(images/contact.jpg)"></div>
        <div class="home_content_container">
            <div class="container">
                <div class="row">
                    <div class="col col-md-12">
                        <div class="home_content">
                            <div class="breadcrumbs align" align="center">

                                <h1>Siparişiniz Alınmıştır.</h1>
                                <h2>Alışverişinizde Bizi Tercih Ettiğiniz İçin Teşekkürler.</h2>
                                <h2><a href="@Url.Action("Index","Home")">Anasayfaya gitmek için Tıklayın</a></h2>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@*<div class="home">
        <div class="home_slider_container">


            <form>
                <div class="row" align="center">
                    <div>
                        <h1>Siparişiniz Alınmıştır.</h1>
                        <h2>Alışverişinizde Bizi Tercih Ettiğiniz İçin Teşekkürler.</h2>
                        <h3>Anasayfaya gitmek için Tıklayın</h3>
                    </div>
                </div>
            </form>




        </div>
    </div>*@



<!-- Products -->
<!-- Icon Boxes -->
